= simple_form_for(@message) do |f|
  = f.input :content, :wrapper => :prepend, :label => false do
    %span.add-on
      <i class="icon-file"></i>
    = f.input_field :content, :placeholder => "Nachricht"
    = f.hidden_field :tag_list
  .actions
    = f.submit
