<div class="well" id="<%= message.id %>">
<div class="fluid-row">
    <div class="span9">UserID: <%= message.user_id %></div>
    <div class="span3">
    <div class="btn-group pull-right">
     <% if can_delete?(message) %>
      <%= btn_link_to 'Write Comment', new_message_comment_path(message), "btn-info" %>
      <%= btn_link_to 'Edit', edit_message_path(message), "btn-info" %>
      <%= link_to 'Destroy', message, :class => "btn btn-info", confirm: 'Are you sure?', method: :delete %>
     <% end %>
   </div>
   </div>
</div>
<div class="fluid-row">
<%= message.content %>
</div>
<% unless comments_for(message).empty? %>
  <div class="comments">
  	<hr>
  	<h5>Comments:</h5>
      <% comments_for(message).each do |comment| %>
        <%= render 'comments/comment', comment: comment, message: message %>
      <% end %>      
    </div>
<% end %>
</div>