<h1>Latest Messages</h1>
<h3>Write a Message </h3>
<%= render 'form' %>
<% @messages.each do |message| %>
  <div id="<%= message.id %>">
    <%= message.content %>      
    <% if current_user.admin? || current_user.id == message.user_id %>
      <%= link_to 'Edit', edit_message_path(message) %>
      <%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %>
    <% end %>
    <br />
  </div>
<% end %>

<%= link_to 'New Message', new_message_path %>
