%p#notice= notice
%p
  %b User:
  = @message.user.name
  ,
  \#{@message.user.id}
  %b Content:
  = @message.content
  Show #{link_to pluralize(@message.comments.size, ' Comments'), message_comments_path(@message)}
  \#{link_to 'write Comment', new_message_comment_path(@message)}
.comments
  = render @comments, message: @message
= link_to 'Edit', edit_message_path(@message)
|
\#{link_to 'Back', messages_path}
