<h2>Sign in</h2></br>
<%= render 'shared/flash_alert' %>
<div class="row-fluid">
  <div class="span4 form-inline">
    <%= form_for(:session, :url => sessions_path , :class => "form-horizontal") do |f| %>

        <!-- LOGIN EMAIL -->
        <%= render 'shared/bootstrap/input_field', function: f, tag: :email, symbol: '@', type: "text_field" %> 

        <!-- LOGIN PASSWORD -->
        <%= render 'shared/bootstrap/input_field', function: f, tag: :password, symbol: '<i class="icon-log"></i>', type: "password_field" %> 

        <!-- LOGIN BUTTON -->
        <%= f.submit "Sign in", :class => "btn" %>

    <% end %>
  </div><!-- END SPAN6 -->
  <div class="span8">
    <p> New user? <%= link_to "Sign up now!", signup_path %> </p>
  </div><!-- END SPAN6 -->
</div><!-- END ROW-FLUID -->
