= form_for @user, :class => "form-horizontal" do |f|
	%fieldset
		= render 'shared/bootstrap/input_field', function: f, tag: :name, symbol: '<i class="icon-user"></i>', type: "text_field", caption: "Name"
		= render 'shared/bootstrap/input_field', function: f, tag: :email, symbol: "@", type: "text_field", caption: "E-Mail"
		= render 'shared/bootstrap/input_field', function: f, tag: :password, symbol: '<i class="icon-log"></i>', type: "password_field", caption: "Passwort"
		= render 'shared/bootstrap/input_field', function: f, tag: :password_confirmation, symbol: '<i class="icon-log"></i>', type: "password_field", caption: "Passwort wiederholen"
		= render 'shared/bootstrap/input_field', function: f, tag: :phone, symbol: "Tel", type: "text_field", caption: "Telefonnummer"
		= render 'shared/bootstrap/input_field', function: f, tag: :street, symbol: "@", type: "text_field", :caption => "Straße"
		= render 'shared/bootstrap/input_field', function: f, tag: :zip, symbol: "@", type: "text_field", :caption => "PLZ"
		= render 'shared/bootstrap/input_field', function: f, tag: :location, symbol: "@", type: "text_field", :caption => "Ort"
		= f.submit "Sign up", :class => "btn"