<h1> Sign up </h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %> <br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Passwort wiederholen" %> <br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div id="submit">
    <%= f.submit "Anmeldung"%>
  </div>
<% end %>
</div>
