<h2> Sign up </h2>
<hr>
<div class="create">
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation, "Passwort wiederholen" %> <br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div id="submit">
    <%= f.submit "Anmeldung"%>
  </div>
<% end %>
</div>
