.event{:onclick => "window.location = '#{event_path(event)}'", :class => "start-#{(event.start_at.hour - 6) * 2 + (event.start_at.min/ 60).round} duration-#{event.end_at.hour - event.start_at.hour}", :style => "background-color: #{event.color};"}
	= "#{event.name} by #{event.user.name}"
