<!-- NAVIGATIONBAR-TOP-->
  <div class="navbar navb ar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">
          Clorg<!--<%=@title%>-->
        </a>
        <!-- <%=  controller.action_name %> -->
        <ul class="nav">
          <%= ca_li_link_to "Start", root_path %>
          <%= ca_li_link_to "About", about_path %>
          <%= ca_li_link_to "Contact", contact_path %>
        <% if signed_in? %>
          <li <% if controller.controller_name == "sessions"%>class="active"<% end %>>
          <%= link_to "Sign out", signout_path, :html_options => {:method => :delete} %>
        </li>
      <% else %>
        <li <% if controller.controller_name == "sessions"%>class="active"<% end %>>
                     <%= link_to "Sign in", signin_path %>
        </li>
        <li <% if (controller.controller_name == "users") && (controller.action_name == "new") %>class="active"<% end %>>
          <%= link_to "Sign up", signup_path %>
        </li>
      <% end %>
      </ul>
      <div class="nav-collapse">
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
    </div>
  </div>
</div><!-- END NAVIGATIONBAR -->