<!DOCTYPE html>
<html>
  <head>
    <title>Clorg | <%=@title || "The Club Organizer" %> </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class="round">

    <!-- flash alert-->
      
      <div class="container-fluid">
        <%= render 'layouts/navigation_top' %>
      
        <!-- -->
        <div class="row-fluid">
          <!-- CONTENT --> 
          <div class="<% if signed_in? %>span10<% else %>span12<% end %> well">
            <%= yield %>
          </div>
          <!-- END CONTENT -->
          <% if signed_in? %>
          <%= render 'layouts/navigation_right' %>
          <% end %>
        

        </div><!-- -->
        <!-- FOOTER -->
        <div class="row-fluid navbar-fixed-bottom">
          <div class="pull-right" style="padding-right:20px;">
          
            <%= link_to "About", about_path %>
            <%= link_to "Contact", contact_path %>
            &copy Clorg 2012
          </div>
        </div><!-- END FOOTER -->
      </div>
    </section>
  </body>
</html>
