!!!
%html
  %head
    %title
      Clorg | #{@title || "The Club Organizer"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section.round
      / flash alert
      .container-fluid
        = render 'layouts/navigation_top'
        / 
        .row-fluid
          / CONTENT
          .if.else.well{:class => "<haml:silent> signed_in? </haml:silent><haml:block>span10</haml:block><haml:silent> </haml:silent><haml:block>span12</haml:block>"}
            = yield
          / END CONTENT
          - if signed_in?
            = render 'layouts/navigation_right'
        / 
        / FOOTER
        .row-fluid.navbar-fixed-bottom
          .pull-right{:style => "padding-right:20px;"}
            = link_to "About", about_path
            = link_to "Contact", contact_path
            \&copy Clorg 2012
        / END FOOTER
