<!DOCTYPE html>
<html>
  <head>
    <title>Clorg | <%=@title || "The Club Organizer" %> </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class="round">

    <!-- flash alert-->
      
      <div class="container-fluid">
        <!-- NAVIGATIONBAR-TOP-->
        <div class="navbar navb ar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">
                Clorg<!--<%=@title%>-->
              </a>
              <!-- <%=  controller.action_name %> -->
              <ul class="nav">
                <li <% if controller.action_name == "home"%>class="active"<% end %>>
                  <%= link_to "Start", root_path %>
                </li>
                <li <% if controller.action_name == "about"%>class="active"<% end %>>
                   <%= link_to "About", about_path %>
                </li>
                <li <% if controller.action_name == "contact"%>class="active"<% end %>>
                   <%= link_to "Contact", contact_path %>
                </li>
                <% if signed_in? %>
                 <li <% if controller.controller_name == "sessions"%>class="active"<% end %>>
                     <%= link_to "Sign out", signout_path, :method => :delete %>
                </li>
                <% else %>
                 <li <% if controller.controller_name == "sessions"%>class="active"<% end %>>
                     <%= link_to "Sign in", signin_path %>
                </li>
                 <li <% if (controller.controller_name == "users") && (controller.action_name == "new") %>class="active"<% end %>>
                     <%= link_to "Sign up", signup_path %>
                </li>
                <% end %>
              </ul>
              <div class="nav-collapse">
                <form class="navbar-search pull-right">
                  <input type="text" class="search-query" placeholder="Search">
                </form>
              </div>
            </div>
          </div>
        </div><!-- END NAVIGATIONBAR -->
      
        <!-- -->
        <div class="row-fluid">
          <!-- CONTENT --> 
          <div class="<% if signed_in? %>span10<% else %>span12<% end %> well">
            <%= yield %>
          </div>
          <!-- END CONTENT -->
          <% if signed_in? %>
          <%= render 'shared/navigation_right' %>
          <% end %>
        

        </div><!-- -->
        <!-- FOOTER -->
        <div class="row-fluid navbar-fixed-bottom">
          <div class="pull-right" style="padding-right:20px;">
          
            <%= link_to "About", about_path %>
            <%= link_to "Contact", contact_path %>
            &copy Clorg 2012
          </div>
        </div><!-- END FOOTER -->
      </div>
    </section>
  </body>
</html>
